
<section>
	<form action="/set_opponent" method="post">
		Name: <input type="text" name="player1_name" placeholder="Enter your name">
 		<input type="submit" value="Get Started">
	</form>
</section>



