<head>
	<img src='/images/rps.png'>
</head>

	 <%= yield %>

<footer>
	<form action="/" method="post" >
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Sign Out">
	</form>

</footer>
