/<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/css/reset.css">  
		<link rel="stylesheet" type="text/css" href="/css/application.css">
		<title>Rock, Paper, Scissors</title>
	</head>

	<body>

		<img src='/images/rps.png'>
		<%= yield %>

	</body>

	<footer>
		<form action="/" method="post" >
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Sign Out">
		</form>

	</footer>
</html>
