<% if GAME.player1_name == nil %>
	 <h1>Welcome Makers Marketeer!</h1>
	 	 <section>
	  		<form action="/" method="post">
				Name: <input type="text" name="player1_name" placeholder="Enter your name">
			 		<input type="submit" value="Get Started">
			</form>
			<img src='/images/rps1.png'>
	  	</section>
<% end %> 