<h2> Choose the game format </h2>

<form action="/set_game" method="post">
	<input type="radio" name="games" value="1">Winner takes all!<br>
	<input type="radio" name="games" value="3">Best of 3<br>
	<input type="radio" name="games" value="5">Best of 5
	<input type="submit" value="Enter">
</form>

